{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'macro.html' import show_pagination as p %}
{% block styles %}
    {{ super() }}
    <style type="text/css">
        .list-group-item {
            margin-top: 10px;
            overflow: hidden;
        }

        .user-icon {
            width: 64px;
            height: 64px;
        }

        .left-content {
            float: left
        }

        .right-content {
            float: right;
            margin-right: 200px;
        }
        span.collect{
            cursor:pointer;
            color: #ff8e92;
        }
    </style>

{% endblock %}

{% block content %}
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('mainbp.index') }}">主页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li><a href="">img<span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ url_for('userbp.logout') }}">exit</a></li>
                    {% else %}
                        <li><a href="{{ url_for('userbp.register') }}">注册<span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ url_for('userbp.login') }}">登录</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ current_user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('userbp.profile') }}">profile</a></li>
                            <li><a href="#">change password</a></li>
                            <li><a href="{{ url_for('userbp.change_icon') }}">change icon</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    {% block base %}

        {{ wtf.quick_form(form) }}


        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">

                    <div class="left-content">
                        <div style="float:left">
                            <img class='user-icon' src="{{ url_for('static',filename=post.user.icon ) }}" alt="">
                        </div>
                        <div style="float:left;margin-left:20px;">
                            <p>用户：{{ post.user.username }}</p>
                            <p>说了：{{ post.content }}</p>
                        </div>
                    </div>
                    <div class="right-content">
                        发帖时间:{{ moment(post.posttime).fromNow() }}
                    </div>
                    {% if current_user.is_authenticated %}
                        <div style="float:right;margin-right:10px;">
                            {% if current_user.is_collected(post.id) %}
                                <span class="collect" url='{{ url_for('postbp.switch_collect',pid=post.id) }}' >取消收藏</span>
                            {% else %}
                                <span class="collect" url='{{ url_for('postbp.switch_collect',pid=post.id) }}' >收藏</span>
                            {% endif %}
                        </div>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>

        {{ p(pagination) }}


    {% endblock %}

    </body>
{% endblock %}
{% block scripts %}
    {{ super() }}

    {{ moment.include_moment() }}
    {{ moment.locale('zh-cn') }}
    <script type="text/javascript" >
        $(function(){
            $('span.collect').each(function(i,element){
                $(element).click(function () {
                    $.ajax({
                        url:$(element).attr('url'),
                        type:'get',
                        dataType:'json'
                    })
                        .done(function(data){
                            if(data.is_collected==true){
                                $(element).text('取消收藏');
                            }else{
                                $(element).text('收藏');
                            }
                        })
                        .fail(function(data){
                            alert('connect fail');
                        });

                })
            })
        })
    </script>
{% endblock %}
